@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1E232C;
  color: white;
}

.herobg{
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  background-size: cover;
}